
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit-based browsers (Chrome, Safari and Opera) */

    /* font-family: 'Roboto', sans-serif; */

body,html,pre {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
 .scrollbar-reduce::-webkit-scrollbar, .scrollbar-reduce::-moz-scrollbar {
    width: 12px;
    height: 12px;
} 

.scrollbar-thin {
  overflow: scroll;
}
.arrow {
  border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #8522d7;
}

.messageText {
  font-family: 'Noto Sans', sans-serif;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2e2e2e;
}


.transHeight {
  transition: max-height 0.5s ease-out 0s;
}


.show__datepicker__angle{

  position: absolute; left: 0px; transform: translate3d(35px, 0px, 0px);
}
.rdrDayDisabled,.rdrDayDisabled .rdrInRange,.rdrDayDisabled .rdrStartEdge {
  filter: none;
  color:blue
}
.rdrDayDisabled .rdrInRange{
  color:yellow
}
        .rdrDefinedRangesWrapper{
            display: none;
        }
        .rdrDateDisplayWrapper {
            display: none;
         }
         .rdrPprevButton i {
            border-width: 8px 11px 7px 0px;
            border-color: transparent rgb(131, 14, 199) transparent transparent;
            transform: translate(-3px, 0px);
          }
          
          .rdrNextButton i {
            margin: 0 0 0 7px;
            border-width: 8px 11px 7px 10px;
            border-color: transparent transparent transparent rgb(131, 14, 199);
            transform: translate(3px, 0px);
          }
          
          .rdrPprevButton,.rdrNextPrevButton {
          background: transparent;
          }
          
          .rdrDayNumber {
            font-weight: 600;
          }
          .rdrWeekDay {
            font-weight: 600;
            line-height: 2.667em;
            color: rgb(17 19 19);
          }
          .rdrMonthAndYearPickers select {
            font-weight: 600;
          }
          

          .ReactCollapse--collapse {
            transition: height 500ms;
          }
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
 
}
.single-thumb .range-slider__thumb[data-upper] {
  background: #6b21a8;
  transition: transform 0.3s;
}


.single-thumb .range-slider__range {
  border-radius: 6px;
  background: #6b21a8;
  transition: height 0.3s;
}

#range-slider-yellow {
  background: #e2e1e1;
}

#range-slider-yellow .range-slider__range {
  background: #6b21a8;
  transition: height 0.3s;
}

#range-slider-yellow .range-slider__thumb {
  background: #6b21a8;
  transition: transform 0.3s;
}

#range-slider-yellow .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-yellow .range-slider__range[data-active] {
  height: 16px;
}
/* END TABLE THEME */

  
  table td, table th {
    border-bottom: 0.5px solid rgba(223, 222, 223, 0.601);
    padding: 6px 8px;
    word-wrap: break-word;
  }
  
  /* table tr:nth-child(even){background-color: #f8fcfead;} */
  
  /* table tr:hover {background-color: rgb(87, 86, 86)} */
  
  table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 13.5px;
    /* background-color: #f8fcfead; */
    /* color: rgb(56, 71, 151); */
  }

  /* Tanstack ends here */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.swiper-button-prev, .swiper-button-next{
    background: rgba(255, 255, 255, 0.829);
    position: absolute;
    top: 35%;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 -9px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);

    
}
.swiper-button-prev::after, .swiper-button-next::after{
    color:rgb(59, 59, 59);
    font-size: 12px;
    font-weight:700;
  
}
.bg-gradient{
  /* background: rgb(2,0,36); */
  background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(69,144,215,1) 0%, rgba(15,164,252,1) 31%, rgba(0,138,255,1) 91%);
}
