/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');
 
 /* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit-based browsers (Chrome, Safari and Opera) */
html{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
body,html {
  margin: 0;
  padding: 0;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
 .scrollbar-reduce::-webkit-scrollbar-button, .scrollbar-reduce::-moz-scrollbar {
    width: 15px;
    height: 15px;
} */
 .scrollbar-reduce {
    width: 15px;
    height: 15px;
}

.arrow {
  border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #333;
}




/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


        .rdrDefinedRangesWrapper{
            display: none;
        }
        .rdrDateDisplayWrapper {
            display: none;
         }
         .rdrPprevButton i {
            border-width: 8px 11px 7px 0px;
            border-color: transparent rgb(166 79 180) transparent transparent;
            transform: translate(-3px, 0px);
          }
          
          .rdrNextButton i {
            margin: 0 0 0 7px;
            border-width: 8px 11px 7px 10px;
            border-color: transparent transparent transparent rgb(166 79 180);
            transform: translate(3px, 0px);
          }
          
          .rdrPprevButton,.rdrNextPrevButton {
          background: transparent;
          }
          
          .rdrDayNumber {
            font-weight: 600;
          }
          .rdrWeekDay {
            font-weight: 600;
            line-height: 2.667em;
            color: rgb(17 19 19);
          }
          .rdrMonthAndYearPickers select {
            font-weight: 600;
          }
          


/* table, th, td {
        padding: 12px 6px;
       
        text-align: center;
  }
tr:hover{
    background: rgba(180, 180, 180, 0.122);
} */



/* END TABLE THEME */

  
  table td, table th {
    border-bottom: 0.5px solid rgba(223, 222, 223, 0.601);
    padding: 6px 8px;
    word-wrap: break-word;
  }
  
  /* table tr:nth-child(even){background-color: #f8fcfead;} */
  
  /* table tr:hover {background-color: rgb(87, 86, 86)} */
  
  table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 13.5px;
    /* background-color: #f8fcfead; */
    /* color: rgb(56, 71, 151); */
  }

  /* Tanstack ends here */

.swiper-button-prev, .swiper-button-next{
    background: rgba(255, 255, 255, 0.829);
    position: absolute;
    top: 45%;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 -25px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);

    
}
.swiper-button-prev::after, .swiper-button-next::after{
    color:rgb(59, 59, 59);
    font-size: 12px;
    font-weight:700;
  
}

